{:paths ["src"] ; where your cljd files are
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :tag "0.9.20260917"
         :sha "9f9cef5e0735026b667c28372e6967dcf43dc13e"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}
           :test {:extra-paths ["test"]}}
 :cljd/opts {:kind :flutter
             :main paginae.main}}